* { margin:0; padding:0; box-sizing:border-box; }

body {
  background: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Dosis', Arial, sans-serif;
  font-size: 62.5%;
}

header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 10em;
  color: #b23e30;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-family: 'Dosis', serif;
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: 800;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 3em;
  font-weight: 800;  
}

h3 {
  color: rgb(66,178,121);
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

nav {
  margin-left: auto;
  margin-right: auto;
}

div {
}
  
span {
  border: 0px;
  margin: 0px;
}

section {
  
}

footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 10vh; 
}

.cardsquare {
  text-align: center;
  width: 33.33%;
  height: 33.33vw;
  display: inline-block;
  padding-top: 10vw;
  float: left;
}

.mini {
  width: 10vh;
  height: 10vh;
}

/* card front set up */
.cardfront {
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
}

.cardfrontsection {
  background-image: url('../images/white_bg.png');
  height: 5vh;
}

/* formatting to (attempt to) allow for variable screen sizes*/
#temp1 {
  background-color: #fff;
  height: 100%;
  float: left;
  width: 21%;
}

#temp2 {
  height: 100%;
  float: left;
  width: 58%;
}

#temp3 {
  background-color: #fff;
  height: 100%;
  float: left;
  width: 21%;
}

#cardscallop {
  background-image: url('../images/scallop.png');
  background-repeat: repeat-x;
  height: 10px;
}

a {
  color: #fff;
}

/* hover text property */
span.highlight:hover {
  color: rgb(200,200,200);
}

/* background colours for index cardsquares and hover property*/
#christmas {
  background: rgb(191,53,47);
}

#christmas:hover {
  background: rgb(214,59,53);
}

#holidays {
  background: rgb(255,217,155);
}

#holidays:hover {
  background: rgb(255,226,166);
}

#chanukah {
  background: rgb(136,163,79);
}

#chanukah:hover {
  background: rgb(147,176,85);
}

#ramadan {
  background: rgb(34,71,50);
}

#ramadan:hover {
  background: rgb(39,82,57);
}

#newyears {
  background: rgb(19,35,38);
}

#newyears:hover {
  background: rgb(23,42,46);
}

#getthecode {
  background: rgb(239,239,239);
  color: #000;
}

#getthecode:hover {
  background: rgb(248,248,248);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* inside card framework setup */
.insidecard {
  height: 90vh;
  padding: 50px;
}

.cardmessage {
  width: 45vw;
}

.rightmessage {
  margin: 0 0 0 50%;
}

.leftmessage {
  margin: 0 0 0 0;
}

.lowerleftmessage {
  margin: 20vh 0 0 0;
}

.lowerrightmessage {
  margin: 20vh 0 0 50%;
}

.cardh1 {
  font-size: 8em;
}

.cardh2 {
  font-size: 5em;
  margin-bottom: 5px;
}

/* christmas customizations for inside card */
#christmasimgbg {
  background-image: url('../images/a_taste_of_winter_stefano_montagner.jpg');
}

#christmascard {
  background-image: url('../images/christmas.png'); /* card cutouts */
}

#christmash1 {
  color: rgb(147,176,85);
}

#christmash2 {
  color: rgb(39,82,57);
}

.christmasmsg {
  background-color: rgba(255,255,255,0.3);
  color: rgb(39,82,57);
}

/* holiday customizations for inside card */
#holidaysimgbg {
  background-image: url('../images/world_of_snow_doug_brown.jpg');
}

#holidayscard {
  background-image: url('../images/holidays.png'); /* card cutouts */
}

#holidaysh1 {
  color: rgb(191,53,47);
}

#holidaysh2 {
  color: rgb(19,35,38);
}

.holidaysmsg {
  background-color: rgba(255,255,255,0.3);
  color: rgb(19,35,38);
}

/* chanukah customizations for inside card */
#chanukahimgbg {
  background-image: url('../images/magical_candle_nathanmac87.jpg');
}

#chanukahcard {
  background-image: url('../images/chanukah.png'); /* card cutouts */
}

#chanukahh1 {
  color: rgb(255,217,155);
}

#chanukahh2 {
  color: rgb(255,217,155);
}

.chanukahmsg {
  background-color: rgba(0,0,0,0.3);
}

/* ramandan customizations for inside card */
#ramadanimgbg {
  background-image: url('../images/ramadan_at_katara_omar_chatriwala.jpg');
}

#ramadancard {
  background-image: url('../images/ramadan.png'); /* card cutouts */
}

#ramadanh1 {
  color: rgb(136,163,79);
}

#ramadanh2 {
  color: rgb(136,163,79);
}

.ramadanmsg {
  background-color: rgba(0,0,0,0.7);
}

/* new years customizations for inside card */
#newyearsimgbg {
  background-image: url('../images/fireworks_over_the_lake_olsonj.jpg');
}

#newyearscard {
  background-image: url('../images/newyears.png'); /* card cutouts */
}

#newyearsh1 {
  color: rgb(136,163,79);
}

#newyearsh2 {
  color: rgb(136,163,79);
}

.newyearsmsg {
  background-color: rgba(19,35,38,0.3);
}
