body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 100;
  line-height: 1.2;
}

/* MENU START */
nav {  
  height: 40px;
  width: 100%;
  background: #ecf0f1; /* rgb(236,240,241) */  
  font-size: 1em;  
  font-family: 'Roboto', Arial, sans-serif;  
  position: relative;  
  /* border-bottom: 2px solid #283744;  */
}  

nav ul {  
  padding: 0;  
  margin: 0 auto;  
  width: 50%;
  height: 40px;  
}

nav li {  
  display: inline;  
  float: left;
  width: 25%;
  text-align: center;
} 

.clearfix:before,  
.clearfix:after {  
  content: " ";  
  display: table;  
}  
.clearfix:after {  
  clear: both;  
}  
.clearfix {  
  *zoom: 1;  
}  

nav a {
  color: #95a5a6; /* rgb(149,165,166) */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  /* text-shadow: 1px 1px 0px #283744; */
}

nav li a {
  /* border-right: 1px solid #576979; */
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}  

nav li:last-child a {  
  border-right: 0;  
}

nav li:hover, nav li:active {  
  background-color: #fff;
}

nav a#pull {  
  display: none;  
}
/* MENU END */

/* SECTION FORMATTING START*/
a, a:active, a:visited {
  color: #95a5a6; /* rgb(149,165,166) */
  text-decoration: none;
}

a#white, a:active#white, a:visited#white {
  color: white;
  text-decoration: none;
}

div {
  display: block;
  height: 100%;
  min-height: 3.5em;
}

ol {
  list-style-type: decimal-leading-zero;
  margin-left: 45px;
}

p {
  display: block;
  margin-left: 15px;
}

p.definition {
  font-weight: 400;
  margin-left: 0px;
}

section.megahero {
  color: #fff;
  height: 21em;
  padding-left: 20px;
}

section.hero {
  color: #fff;
  height: 18em;
  padding-left: 20px;
}

section.list {
  color: #fff;
  min-height: 6em;
  padding: 5% 20%;
}

section span {
  display: block;
  float: left;
  max-width: 80%;
}

section h1 {
  font-size: 4.5em;
}

section h2 {
  font-size: 1em;
  font-weight: 900;
  border-bottom: 1px solid white;
  border-top: 1px solid white; 
  margin: 20px;
}

section h3 {
  font-size: 3em;
  text-indent: 10px;
  line-height: 1em;
}

/* SECTION FORMATTING END*/

/* section classes */
.consume {
  background-color: #19b5fe; /* rgb(25,181,254) */
}

.create {
  background-color: #f39c12; /* rgb(243,156,18) */
}

.heal {
  background-color: #9b59b6; /* rgb(155,89,182) */
}

.learn {
  background-color: #1abc9c; /* rgb(26,188,156) */
}

.live {
  background-color: #f1c40f; /* rgb(241,196,15) */
}

.travel {
  background-color: #e74c3c; /* rgb(231,76,60) */
}


/* HERO IMAGES */
#index1 {
  background-image: url('../images/red_ian_livesey.jpg'); 
  /* https://www.flickr.com/photos/ianlivesey/14242785918 */
  background-position: 0px -80px;
  background-repeat: no-repeat;
  background-size: cover;
}

#act1 {
  background-image: url('../images/mountain_top_thomas_leth_olsen.jpg'); 
  /* https://www.flickr.com/photos/thomasletholsen/8751752734 */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#act2 {
  background-image: url('../images/brooklyn_bridge_clement_belleudy.jpg'); 
  /* https://www.flickr.com/photos/clemsherpa/12154738144 */
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#ponder1 {
  background-image: url('../images/the_bridge_frank_schulenburg.jpg'); 
  /* https://www.flickr.com/photos/frank_schulenburg/9518366702 */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ponder2 {
  background-image: url('../images/summer_sun_nikos_koutoulas.jpg'); 
  /* https://www.flickr.com/photos/33284937@N04/4771132618 */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dream1 {
  background-image: url('../images/bokeh_saleh_alnemari.jpg'); 
  /* https://www.flickr.com/photos/salehalnemari/6688807457 */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dream2 {
  background-image: url('../images/eiffel_tower_jeroen_bennink.jpg'); 
  /* https://www.flickr.com/photos/jeroenbennink/7047703331/ */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#discover1 {
  background-image: url('../images/sunset_umer_malik.jpg'); 
  /* https://www.flickr.com/photos/a_perfect_heart/14554089711 */
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* section background svg image ids */
#backpack2 {
  background-image: url('../images/SVG/backpack2.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#candy {
  background-image: url('../images/SVG/candy.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#car {
  background-image: url('../images/SVG/car.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 300px 300px;
}

#chalkboard {
  background-image: url('../images/SVG/chalkboard.svg');
  background-repeat: no-repeat;
  background-position: -50px 0px;
  background-size: 400px 400px;
}

#clock {
  background-image: url('../images/SVG/clock.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#drop {
  background-image: url('../images/SVG/drop.svg');
  background-repeat: no-repeat;
  background-position: 150px -50px;
  background-size: 500px 500px;
}

#glasses {
  background-image: url('../images/SVG/glasses.svg');
  background-repeat: no-repeat;
  background-position: 50px -550px;
  background-size: 1180px 1180px;
}

#glove {
  background-image: url('../images/SVG/glove.svg');
  background-repeat: no-repeat;
  background-position: -150px -150px;
  background-size: 600px 600px;
}

#hamburger {
  background-image: url('../images/SVG/hamburger.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 300px 300px;
}

#hotdog {
  background-image: url('../images/SVG/hotdog.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#label {
  background-image: url('../images/SVG/label.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#map {
  background-image: url('../images/SVG/map.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#map2 {
  background-image: url('../images/SVG/map2.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 1400px 1400px;
}

#marker {
  background-image: url('../images/SVG/marker.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#mcfly {
  background-image: url('../images/SVG/mcfly.svg');
  background-repeat: no-repeat;
  background-position: 170px -150px;
  background-size: 700px 700px;
}

#medicine {
  background-image: url('../images/SVG/medicine.svg');
  background-repeat: no-repeat;
  background-position: 10px 20px;
  background-size: 500px 500px;
}

#mountain {
  background-image: url('../images/SVG/mountain.svg');
  background-repeat: no-repeat;
  background-position: -50px 20px;
  background-size: 400px 400px;
}

#muffin {
  background-image: url('../images/SVG/muffin.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#paperplane {
  background-image: url('../images/SVG/paperplane.svg');
  background-repeat: no-repeat;
  background-position: 150px 150px;
  background-size: 100px 100px;
}

#piggy {
  background-image: url('../images/SVG/piggy.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#rocket {
  background-image: url('../images/SVG/rocket.svg');
  background-repeat: no-repeat;
  background-position: 150px 150px;
  background-size: 100px 100px;
}

#tactic {
  background-image: url('../images/SVG/tactic.svg');
  background-repeat: no-repeat;
  background-position: -50px 50px;
  background-size: 400px 400px;
}

#umbrella {
  background-image: url('../images/SVG/umbrella.svg');
  background-repeat: no-repeat;
  background-position: -150px 0px;
  background-size: 1100px 1100px;
}

#www {
  background-image: url('../images/SVG/www.svg');
  background-repeat: no-repeat;
  background-position: 650px 50px;
  background-size: 400px 400px;
}

/* CHECKBOXES */
.checkbox {
  height: 75px;
  width: 75px;
}

span#uncheckbox {
  background-image: url('../images/SVG/uncheckbox.svg');
  height: 75px;
  width: 75px;
}

/* FOOTER */
footer {
  padding: 15px;
  text-align: center;
}

footer a, footer a:active, footer a:visited {
  color: #95a5a6; /* rgb(149,165,166) */
  text-decoration: none;
}

h4 {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
}

/* RESPONSIVE */
@media screen and (max-width: 850px) {
  nav ul {  
    width: 100%; 
  }
  section.list {
    min-height: 7em;
  }
}


@media screen and (max-width: 635px) {  
    nav {   
        height: auto;  
    }  
    nav ul {  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 100%;  
        float: left;  
        position: relative;  
    }  
    nav li a {  
        border-bottom: 1px solid #fff;  
        /* border-right: 1px solid #fff; */
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent: 25px;  
    }

  section.list {
    padding: 5% 5%;
  }

  section h1 {
    font-size: 3em;
  }

  section div {
    text-align: center;
  }

  section span {
    display: block;
    float: none; 
  }

  span#uncheckbox {
    margin: 3px auto;
    padding: 1px;
  }

  p {
    margin-left: 0px;
  }

  p.definition {
    font-weight: 100;
  }

  section span {
    max-width: 100%;
  }

  #car {
    background-position: 50px 50px;
    background-size: 50px 50px;
  }

  #clock {
    background-position: 30px 30px;
    background-size: 100px 100px;
  }

  #drop {
    background-position: 10px 10px;
    background-size: 150px 150px;
  }

  #paperplane {
    background-position: 15px 10px;
    background-size: 100px 100px;
  }

  #rocket {
    background-position: 10px 15px;
    background-size: 100px 100px;
  }

  #www {
    background-position: 10px 70px;
    background-size: 60px 60px;
  }
}

@media only screen and (max-width : 480px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav a#pull {  
        display: block;  
        background-color: #ecf0f1; /* rgb(236,240,241) */  
        width: 100%;  
        position: relative;  
    }  
    nav a#pull:after {  
        content:"";  
        background: url('../images/nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        right: 15px;  
        top: 10px;  
    }

  section.list {
    padding: 5% 5%;
  }

  section h1 {
    font-size: 2em;
  }

  section h3 {
    text-indent: 0px;
  }
}

@media only screen and (max-width : 320px) {  
    nav li {  
        display: block;  
        float: none;  
        width: 100%;  
    }  
    nav li a {  
        border-bottom: 1px solid #fff;  
    }  
} 