body {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

header{

}

a {
  color: rgb(184,36,57);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(255,74,96);
}

h1 {
  font-size: 7em;
}

h2 {
  font-size: 5em;
}

p {
  font-size: 2em;
  line-height: 1.5em;
}

section {
  display: inline-block;
  margin-top: 50px;
  width: 100vw;
}

span {
  border: 0px;
  margin: 0px;
}

.card {
  display: inline-block;
  float: left;
  text-align: center;
}

.learn-more-button {
  border: 5px dotted;
  border-color: rgb(184,36,57);
  margin: 10px;
  padding: 3px;
}

.mobile-style {

}

.mobile {
  width: 100vw;
  height: 100vh;
}

.mobile .learn-more-button {
  font-size: 3em;
}

.mobile p {
  font-size: 5em;
}

.tablet-style {

}

.tablet {
  width: 50vw;
  height: 50vh;
}

.tablet .learn-more-button {
  font-size: 2em;
}

.tablet p {
  font-size: 4em;
}

.desktop-style {

}

.desktop {
  width: 33.33vw;
  height: 33.33vh;
}

.desktop p {

}

#card1 {
  background: rgb(246,247,146);
}

#card2 {
  background: rgb(51,55,69);
  color: rgb(255,255,255);
}

#card3 {
  background: rgb(119,196,211);
}

#card4 {
  background: rgb(218,237,226);
}

#card5 {
  background: rgb(234,46,73);
}

#card6 {
  background: rgb(246,247,146);
}

#card7 {
  background: rgb(51,55,69);
  color: rgb(255,255,255);
}

#card8 {
  background: rgb(119,196,211);
}

#card9 {
  background: rgb(218,237,226);
}

#card10 {
  background: rgb(234,46,73);
}

#card11 {
  background: rgb(246,247,146);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}